#map {
  height: 100%;
  width: 100%;
}

html,
body,
.content,
#main,
#layout {
  height: 100%;
}

.header {
  height: 15%;
  padding: 0;
  margin: 0;
}

.header h1,
.header h2 {
  margin: 0;
  padding: 0.25em;
}

.content {
  max-width: 4000px;
  padding: 0;
  margin: 0;
  height: 85%;
}
